<nav class="navbar">
  <div class="navbar__logo">Photel</div>

  <div class="navbar__links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/register" routerLinkActive="active">Register</a>
    <a routerLink="/search" routerLinkActive="active">Search</a>
    <a routerLink="/profile" routerLinkActive="active">Profile</a>

    <button class="navbar__publish-button">Publicar</button>
    <div class="navbar__icon">🌐</div>
  </div>
</nav>
